/* https://colorhunt.co/palette/b5d5c5b08bbbeca869f5f5dc */
/* https://colorhunt.co/palette/ada2ffc0deffffe5f1fff8e1 */
/* V Active pallete V */
/* https://colorhunt.co/palette/f0e9d2e6ddc4678983181d31 */

/* reference site: https://mattfarley.ca/ */


body {
    font-family: 'Rubik', sans-serif;
    background-color: #E6DDC4;
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

#title {
    background-color: #E6DDC4;
    color: #181D31;
    padding: 5em 3em;
    text-align: center;
}

#footer {
    text-align: center;
    background-color: #181D31;
    color:#F0E9D2;
    padding: 10px;
}
.nav {
    background-color: #181D31;
    border-color: #E6DDC4 !important;
}

.nav-link {
    color: #F0E9D2;  
    background-color: #E6DDC4;
    font-size: 2em;
}
.nav-link:hover {
    color: #678983;
}

.active{
    background-color: #E6DDC4 !important;
    border-color: #E6DDC4 !important;
    color: #181D31; 
}

.title-text {
    padding: 0;
    margin: 0;
}

.main-title{
    font-family: 'Caveat', cursive;
    font-size: 6em;
}

.about {
    padding: 5em 3em;
    margin: 3em;
}

.title-image {
    padding: 0;
    border-radius: 40%;
}

.social-icon {
    color: #F0E9D2;
    font-size: 1.5em;
    margin: auto 5px;
}

.copyright {
    padding-top: 5px;
    padding-bottom: 0;
}